.post-interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.interaction-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}


.interaction-icons img {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.interaction-icons img:hover {
    transform: scale(1.1);
}



.post-interactions button {
    background-color: #e50829;
    border: none;
    color: #fff;
    border-radius: 24px;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.post-interactions button:hover {
    background-color: #c40621;
    transform: scale(1.05);
}





