.create-top {
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    padding: 16px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.create-top h1 {
    font-size: 20px;
    font-weight: 500;
}

.create-top button {
    background-color: #e50829;
    color: #fff;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 32px;
    cursor: pointer;
    font-size: 15px;
}


.create-top button:hover {
    background-color: #c1011e;
}


.create-bottom {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 64px;
}

.upload {
    background-color: #e9e9e9;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    border: 2px dashed #808080;
    width: 375px;
    height: 574px;
    padding: 16px;
    position: relative;
}

.upload-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.preview {
    width: 375px;
    position: relative;
}

.preview img {
    border-radius: 32px;
    width: 100%;
}

.edit-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
}

.upload-info {
    position: absolute;
    bottom: 32px;
    font-size: 10px;
    text-align: center;
    color: #808080;
    padding: 0 8px;
}

.create-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 584px;
}


.create-form-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}


.create-form-item label {
    font-size: 13px;
    color: #808080;
}


.create-form-item input,
select,
textarea {
    font-size: 15px;
    border: 1px solid #808080;
    padding: 16px;
    border-radius: 16px;
}


.create-form-item textarea {
    resize: none;
}


small {
    color: #a6a6a6;
    font-size: 13px;
}


.new-board {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: flex-end;
}

.new-board-container {
    flex: 1;
    display: flex;
}

.new-board-item {
    padding: 8px;
    border-radius: 12px;
    background-color: #e9e9e9;
    font-size: 13px;
    cursor: pointer;
}

.create-board-buttom {
    background-color: #e50829;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 13px;
    width: max-content;
    align-self: flex-end;
}

.board-form {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.board-form-container {
    background-color: white;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-form-close {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.board-form-container form {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.board-form-container h1 {
    font-size: 14px;
    font-weight: 500;
    color: #a6a6a6;
}

.board-form-container input {
    border: 2px solid #e9e9e9;
    border-radius: 16px;
    padding: 10px 14px;
    font-size: 15px;
}

.board-form-container button {
    background-color: #e50829;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    padding: 8px;
}

@media (max-width:1104px) {
    .create-bottom {
        flex-direction: column;
        align-items: center;
        margin-bottom: 64px;
    }
}


@media (max-width:768px) {
    .create-form {
        width: 100%;
    }
}


@media (max-width:495px) {
    .upload {
        width: 100%;
    }
}