.post-page {
    display: flex;
    justify-content: center;
    gap: 32px;
}


.post-container {
    width: 70%;
    max-height: 740px;
    display: flex;
    border: 1px solid #e9e9e9;
    border-radius: 32px;
    overflow: hidden;
}

.back-icon {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.back-icon:hover {
    transform: scale(1.1);
}

.post-img {
    background-color: #c0a68c;
}

.post-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.post-details {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
    overflow: hidden;
}

.post-user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.post-user span {
    font-size: 14px;
}


@media (max-width:751px) {
    .post-container {
        flex-direction: column;
        max-height: unset;
    }

}

@media (max-width:495px) {
    .post-page {
        gap: 0;
    }

    .back-icon {
        margin-inline-start: -6px;
    }
}



@media (max-width:1127px) {
    .post-container {
        width: 100%;
        margin-right: 16px;
    }
    
}